/* global */

.btn {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.color-square {
  width: 26px;
  height: 26px;
  border-width: 2px;
  border-style: solid;
}

/* specific */

.side-bar {
  right: 0;
  top: 0;
}

.side-bar.icons-only .caption {
  display: none;
}

.tool-bar {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.content-wrapper {
  overflow-y: scroll;
}

.extender {
  width: 4px;
  cursor: e-resize;
}

.regions {
  height: 40px;
  border-top-width: 2px !important;
}

.regions .inside {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.regions .inside::-webkit-scrollbar {
  display: none;
}

.tw-content img {
  max-width: 100%;
}

#tw-side-bar {
  overflow-y: scroll;
  height: 100vh;
  width: 46vw;
}

.tw-focus-hover {
  background-color: #9dadff4f;
}

.tw-pointer {
  cursor: pointer;
}

.tw-mouse-hover {
  background-color: #00720f4f;
}

figure {
  padding: 6px;
}

.katex {
  direction: ltr;
}

#tw-render {
  width: 50vw;
  height: 100vh;
}

.tw-image-wrapper {
  text-align: center;
}

.tw-image-wrapper img {
  max-width: 100%;
  object-fit: contain
}

.tw-content .content-list {
  display: table;
  padding-left: 1em;
  list-style-position: inside;
}

.tw-content p {
  display: block;
}

.tw-content .content-list p {
  margin-bottom: 0;
}

.tw-content .list-persian-number {
  list-style-type: persian;
}

.tw-content .list-decimal {
  list-style-type: decimal;
}

.tw-content .list-disc {
  list-style-type: disc;
}

.tw-content .list-roman {
  list-style-type: upper-roman;
}

.tw-content .list-latin {
  list-style-type: lower-latin;
}

.border-dashed {
  border-style: dashed !important;
}

.grab {
  cursor: grab;
}

.dropper {
  height: 400px;
  width: 50vw;
  max-height: 30vh;
}

.limited-progress {
  width: 200px;
}

.tag-input {
  width: 8rem !important;
}

.solid-border {
  border-style: solid;
  border-width: 1px;
}

#tw-side-bar {
  overflow-y: scroll;
  height: 100vh;
  width: 46vw;
}

.tw-focus-hover {
  background-color: #9dadff4f;
}

.tw-pointer {
  cursor: pointer;
}

.tw-mouse-hover {
  background-color: #00720f4f;
}

figure {
  padding: 6px;
}

.katex {
  direction: ltr;
}

#tw-render {
  width: 50vw;
  height: 100vh;
}

.tw-image-wrapper {
  text-align: center;
}

.tw-image-wrapper img {
  max-width: 100%;
  object-fit: contain
}


.tw-content .content-list {
  display: table;
  padding-left: 1em;
  list-style-position: inside;
}

.tw-content p {
  display: inline-block;
}

.tw-content .content-list p {
  margin-bottom: 0;
}

.tw-content .list-persian-number {
  list-style-type: persian;
}

.tw-content .list-decimal {
  list-style-type: decimal;
}

.tw-content .list-disc {
  list-style-type: disc;
}

.tw-content .list-roman {
  list-style-type: upper-roman;
}

.tw-content .list-latin {
  list-style-type: lower-latin;
}