/* global */

body {
  --bs-body-font-family: "mooli";
}

.btn {
  --bs-btn-font-family: "mooli";
}

.btn {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.w-40{
  width: 42%;
}

.color-square {
  width: 26px;
  height: 26px;
  border-width: 2px;
  border-style: solid;
}

/* specific */

.side-bar {
  right: 0;
  top: 0;
}

.side-bar.icons-only .caption {
  display: none;
}

.transition {
  transition: 0.5s;
}

.transparent-pattern-bg {
  background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%),
    linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%);
  background-size: 12px 12px;
  background-position: 0 0, 6px 6px;
}

.tool-bar {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.content-wrapper {
  overflow-y: scroll;
}

.extender {
  width: 4px;
  cursor: e-resize;
}

.regions {
  height: 40px;
  border-top-width: 2px !important;
}

.regions .inside {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.regions .inside::-webkit-scrollbar {
  display: none;
}

.masonry-1 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.masonry-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.masonry-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.masonry-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.masonry-container {
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.masonry-item {
  display: inline-block;
  width: 100%;
}

.btn-compact {
  padding: 6px 10px;
}

.zi-0 {
  z-index: 0;
}

.zi-1 {
  z-index: 1;
}

.zi-2 {
  z-index: 2;
}

.zi-3 {
  z-index: 3;
}

.tw-content img {
  max-width: 100%;
}

#tw-render {
  width: 50vw;
  height: 100vh;
}

.tw-image-wrapper {
  text-align: center;
}

.tw-image-wrapper img {
  max-width: 100%;
  object-fit: contain
}


.border-dashed {
  border-style: dashed !important;
}

.grab {
  cursor: grab;
}

.dropper {
  height: 400px;
  width: 50vw;
  max-height: 30vh;
}

.limited-progress {
  width: 200px;
}

.tag-input {
  width: 8rem !important;
}

.card-img img {
  height: 20vh;
}

.solid-border {
  border-style: solid;
  border-width: 1px;
}

#tw-side-bar {
  overflow-y: scroll;
  height: 100vh;
  width: 46vw;
}

.tw-focus-hover {
  background-color: #9dadff4f;
}

.tw-pointer {
  cursor: pointer;
}

.tw-mouse-hover {
  background-color: #00720f4f;
}

figure {
  padding: 0;
  margin: 0;
}

figure.tw-focus-hover img {
  opacity: 0.5;
}

figure figcaption p {
  margin: 0;
}

p p {
  margin: 0;
}

.katex {
  direction: ltr;
}

.tw-content .content-list {
  display: table;
  padding-left: 1em;
  list-style-position: inside;
}

.tw-content p {
  display: block;
}

.tw-content .content-list p {
  margin-bottom: 0;
}

.tw-content .list-persian-number {
  list-style-type: persian;
}

.tw-content .list-decimal {
  list-style-type: decimal;
}

.tw-content .list-disc {
  list-style-type: disc;
}

.tw-content .list-roman {
  list-style-type: upper-roman;
}

.tw-content .list-latin {
  list-style-type: lower-latin;
}