/* global */

body {
  --bs-body-font-family: "mooli", "Vazirmatn";
}

.btn {
  --bs-btn-font-family: "mooli", "Vazirmatn";
}

p{
  font-family: var(--bs-body-font-family);
}

.btn {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.h-screen-100 {
  height: 100vh;
}

.my-6 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-7 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.my-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.my-9 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.color-square {
  width: 26px;
  height: 26px;
  border-width: 2px;
  border-style: solid;
}

/* specific */

@media only screen and (max-width: 480px) {
  .note-preview {
    padding: 10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 780px) {
  .note-preview>div {
    width: 90%;
  }
}

@media only screen and (min-width: 780px) and (max-width: 1000px) {
  .note-preview>div {
    width: 80%;
  }
}

@media only screen and (min-width: 1000px) {
  .note-preview>div {
    width: 800px;
  }
}


.h40v {
  height: 40vh;
}

.tw-more-summary .tw-paragraph {
  display: inline-block;
}

.tw-raw-code {
  font-family: "Ubuntu Mono";
}

.side-bar {
  right: 0;
  top: 0;
}

.side-bar.icons-only .caption {
  display: none;
}

.transition {
  transition: 0.5s;
}

.transparent-pattern-bg {
  background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%),
    linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%);
  background-size: 12px 12px;
  background-position: 0 0, 6px 6px;
}

.tool-bar {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.zoom-bar {
    transform: translateY(-120%);
}

.content-wrapper {
  overflow-y: scroll;
}

.extender {
  width: 4px;
  cursor: e-resize;
}

#tw-side-bar {
  width: 50px;
}

.inside {
  height: 40px;
  border-top-width: 2px !important;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.inside::-webkit-scrollbar {
  display: none;
}

.masonry-1 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.masonry-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.masonry-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.masonry-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.masonry-container {
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.masonry-item {
  display: inline-block;
  width: 100%;
}

.btn-compact {
  padding: 6px 10px;
}

.zi-0 {
  z-index: 0;
}

.zi-1 {
  z-index: 1;
}

.zi-2 {
  z-index: 2;
}

.zi-3 {
  z-index: 3;
}

.tw-content img {
  max-width: 100%;
}

.tw-image-wrapper, .tw-video-wrapper {
  text-align: center;
}

.tw-image-wrapper img, .tw-video-wrapper video {
  max-width: 100%;
  object-fit: contain
}

.tw-video-wrapper video {
  max-height: 100vh;
}


.border-dashed {
  border-style: dashed !important;
}

.grab {
  cursor: grab;
}

.dropper {
  height: 400px;
  width: 50vw;
  max-height: 30vh;
  min-width: calc(min(100%, 400px));
}

.limited-progress {
  width: 200px;
}

.card-img img {
  height: 20vh;
}

.solid-border {
  border-style: solid;
  border-width: 1px;
}

.app-footer .card-footer {
  background-color:  #00000045;
}

.app-footer .card-footerer {
  background-color:  #00000070;
}

.tw-pointer {
  cursor: pointer;
}

.tw-focus-hover {
  background-color: #9dadff4f;
}

.tw-mouse-hover {
  background-color: #00720f4f;
}

.tw-custom-html.tw-focus-hover>* {
  opacity: 0.5;
}

.tw-link-preview.tw-focus-hover {
  opacity: 0.5;
}

.tw-include-external.tw-focus-hover>*,
.tw-grid.tw-focus-hover>*,
.tw-include-external.tw-mouse-hover>*,
.tw-grid.tw-mouse-hover>* {
  opacity: 0.7;
}

figure {
  padding: 0;
  margin: 0;
}

figure.tw-focus-hover img {
  opacity: 0.5;
}

figure figcaption p {
  margin: 0;
}

p p {
  margin: 0;
}

.katex {
  direction: ltr;
}


.tw-content .tw-content-list {
  display: table;
  padding-left: 1em;
  list-style-position: inside;
}

.tw-content p {
  display: block;
}

/* https://mehdix.ir/css-list-style-type.html */

@counter-style abjad {
  system: additive;
  range: 1 1000;
  additive-symbols: 1000 "\63A", 900 "\638", 800 "\636",
    700 "\630", 600 "\62E", 500 "\62B", 400 "\62A", 300 "\634",
    200 "\631", 100 "\642", 90 "\635", 80 "\641", 70 "\639",
    60 "\633", 50 "\646", 40 "\645", 30 "\644",
    20 "\6AF", 10 "\649", 9 "\637", 8 "\62D", 7 "\698",
    6 "\648", 5 "\FEEB", 4 "\62F", 3 "\686",
    2 "\67E", 1 "\627";
}

.tw-content .list-abjad {
  list-style-type: abjad;
}

.tw-content .list-persian-number {
  list-style-type: persian;
}

.tw-content .list-decimal {
  list-style-type: decimal;
}

.tw-content .list-disc {
  list-style-type: disc;
}

.tw-content .list-roman {
  list-style-type: upper-roman;
}

.tw-content .list-latin {
  list-style-type: lower-latin;
}